
{% extends 'base.html' %}
{% load static %}
{% block title %}Sign In | CareerQuest{% endblock %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <div class="form-container">
        <form method="post" id="authForm" novalidate>
            {% csrf_token %}
            <h2 class="mb-2">Sign In</h2>
            <label for="{{ form.username.id_for_label }}" class="mb-1 mt-3">{{ form.username.label }}</label>
            {{ form.username }}
            <span id="identifierErr">Please enter your username/email!</span>
            <label for="password" class="mb-1 mt-3">{{ form.password.label }} </label>
            {{ form.password }}
            <span id="passwordErr">Please enter your password!</span>
            <a href="{% url 'forgot_password' %}" class="mb-3 mt-2" id="forgotPass">Forgot Password?</a>
            
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
        <span class="mt-3 text-center">Don't have an account?&nbsp;<a href="{% url 'register' %}">Register</a>&nbsp;now.</span>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/loginForm.js' %}"></script>
{% endblock %}